
:root{
    /* background */
    --background-primary-color: #ffffff ;
    --background-secondary-color:  #f5f5f5;
    --background-tertiary-color:  #000000;

    /* butoon */
    --butoon-primary-color: #8f0101 ;
    --butoon-secondary-color: #b81515;

    /* text */
    --texte-primary-color:#222222  ;
    --texte-secondery-color: #ffffff ;
    --texte-tertiary-color:  ;


}



/* CSS RESET */
body, img, h1, p, fieldset, legend, label, input, select, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
