header {
  background-color: var(--background-tertiary-color);
  display: flex;
  max-height: 138px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
  position: relative;
  transition: 1s ease;
}

.logo_cabecalho {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.navegacao {
  margin-top: 24px;
}

li {
  list-style: none;
  margin-bottom: 10px;
}

.link_header {
  text-decoration: none;
  color: var(--texte-secondery-color);
  font-family: var(--font-montserrat);
  font-weight: var(--text-weight);
  transition: ease 0.2s;
}

.link_header:hover {
  color: var(--primary-color);
}
nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
  transition: 1s ease;
}

input {
  display: none;
}

#menu:checked ~ nav {
  display: flex;
}

@media screen and (min-width: 600px) {
  header {
    align-items: center;
  }

  nav {
    display: block;
    height: 76px;
    background-color: var(--background-tertiary-color);
  }

  .menu_cabecalho {
    display: none;
  }
}
